@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.placeholder-color{
    color: #e0e0e0;
    font-weight: 300;
}